<tr>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Seat Class</th>
    <th>Seat Number</th>
    <th>Check-In Group</th>
    <th>Discount Type</th>
    <th>Discount Rate</th>
</tr>
<tr>
    <td>{{ passenger.familyName }}, {{ passenger.givenName }}</td>
    <td>{{ passenger.dateOfBirth }}</td>
    <td>{{ passenger.gender }}</td>
    <td>{{ passenger.address }}</td>
    <td>{{ passenger.seatClass }}</td>
    <td>{{ passenger.seatNumber }}</td>
    <td>{{ passenger.checkInGroup }}</td>
    <td>{{ passenger.discountType }}</td>
    <td>{{ passenger.discountRate }}</td>
</tr>
