<div class="modal-header">
    <h4 class="modal-title">Edit</h4>
    <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss('Times sign click')"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="editingForm">
        <label for="given-name">First Name: </label>
        <input
            type="text"
            class="form-control"
            id="given-name"
            formControlName="givenName"
        />
        <div *ngIf="givenName?.invalid" class="alert alert-danger">
            <ng-container *ngIf="givenName?.errors?.required">
                First Name is required.
            </ng-container>
        </div>
        <label for="family-name">Last Name: </label>
        <input
            type="text"
            class="form-control"
            id="family-name"
            formControlName="familyName"
        />
        <label for="date-of-birth">Date of Birth: </label>
        <input
            type="date"
            class="form-control"
            id="date-of-birth"
            formControlName="dateOfBirth"
        />
        <div *ngIf="dateOfBirth?.invalid" class="alert alert-danger">
            <ng-container *ngIf="dateOfBirth?.errors?.futureDate">
                Date of Birth must be in the past.
            </ng-container>
        </div>
        <label for="gender">Gender: </label>
        <select class="form-control" id="gender" formControlName="gender">
            <option *ngFor="let gender of genders" [ngValue]="gender">
                {{ gender }}
            </option>
        </select>
        <label for="street-address">Street Address: </label>
        <input
            type="text"
            class="form-control"
            id="street-address"
            formControlName="streetAddress"
        />
        <label for="city">City: </label>
        <input
            text="text"
            class="form-control"
            id="city"
            formControlName="city"
        />
        <label for="state">State: </label>
        <input
            text="text"
            class="form-control"
            id="state"
            formControlName="state"
            maxlength="2"
            (input)="state?.setValue(state?.value.toUpperCase())"
        />
        <div *ngIf="state?.invalid" class="alert alert-danger">
            <ng-container *ngIf="state?.errors?.pattern">
                State must be a valid state.
            </ng-container>
            <ng-container *ngIf="state?.errors?.required">
                State is required.
            </ng-container>
        </div>
        <label for="zip-code">ZIP Code: </label>
        <input
            type="text"
            class="form-control"
            id="zip-code"
            formControlName="zipCode"
            maxlength="5"
        />
        <div *ngIf="zipCode?.invalid" class="alert alert-danger">
            <ng-container *ngIf="zipCode?.errors?.pattern">
                ZIP Code must be a valid ZIP code.
            </ng-container>
        </div>
        <label for="seat-class">Seat Class: </label>
        <select
            class="form-control"
            id="seat-class"
            formControlName="seatClass"
        >
            <option *ngFor="let seatClass of seatClasses" [ngValue]="seatClass">
                {{ seatClass }}
            </option>
        </select>
        <label for="seat-number">Seat Number: </label>
        <input
            text="number"
            class="form-control"
            id="seat-number"
            formControlName="seatNumber"
        />
        <label for="check-in-group">Check-In Group: </label>
        <input
            text="number"
            class="form-control"
            id="check-in-group"
            formControlName="checkInGroup"
        />
    </form>
</div>

<div class="modal-footer">
    <button
        type="button"
        class="btn btn-light"
        (click)="activeModal.close('Close click')"
    >
        Cancel
    </button>
    <button
        type="button"
        class="btn btn-light"
        [disabled]="editingForm.invalid"
        (click)="save()"
    >
        Save
    </button>
</div>
