<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Delete</h4>
    <button
        type="button"
        class="close"
        aria-describedby="modal-title"
        (click)="onCloseClick()"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>
        <strong
            >Are you sure you want to delete
            <span class="text-primary">ID {{ selectedEntity.id }}</span>
            {{ entityName }}?</strong
        >
    </p>
    <p>
        All information associated with this {{ entityName }} will be
        permanently deleted.
        <span class="text-danger">This operation can not be undone.</span>
    </p>
</div>
<div class="modal-footer">
    <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="onCancelClick()"
    >
        Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="onOkClick()">
        OK
    </button>
</div>
