<div class="ds-1-row ds-u-margin-top--3">
  <div style="width:20%;">
    <form [formGroup]="searchUsersForm">
      <input id="userSearchField" type="text" class="form-control" (input)="searchUsers()" formControlName="searchString" placeholder="Search (Name, email, phone)" />
    </form>
  </div>
  <div class="grid-item" style="width:25%;">
    <button id="clearButton" class="btn btn-secondary" (click)="clearSearchForm()">Clear</button>
  </div>

</div>

<div class="d-flex justify-content-between p-2">
  <select class="custom-select"
          style="width: auto"
          name="pageSize"
          [(ngModel)]="this.pageSize" (change)="getUsers(0,pageSize)">
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="25">25 items per page</option>
    <option [ngValue]="50">50 items per page</option>
  </select>

  <div style="display:flex">
    <h5 style="max-width:30%">Active Only: </h5>
    <label class="switch">
      <input type="checkbox" [(ngModel)]="activeOnly" (change)="handleActiveToggleChange()">
      <span class="slider round"></span>
    </label>
  </div>

  <div style="text-align:right; margin-right: 120px; margin-left: 20px">
    <button id="createButton" class="btn btn-primary" (click)="openModal(null)">Create New</button>
  </div>
</div>

<div class="container">
  <div class="container">
    <div class="d-flex justify-content-between p-2" *ngFor="let user of users; let i = index">
      <div class="row" style="border: 1px solid black">
        <div class="col-sm-9"><h5>{{getActiveOrInactive(user.active)}}</h5></div>
        <div class="col-sm-9"><b>Name: </b>{{user.givenName}} {{user.familyName}}</div>
        <div class="col-sm-9"><b>Role: </b> {{user.role.split('_')[1].toLowerCase()}}</div>
        <div class="col-sm-9"><b>Username: </b> {{user.username}}</div>
        <div class="col-sm-9" style="min-width:340px"><b>Email: </b>{{user.email}}</div>
        <div class="col-sm-9"><b>Phone: </b>{{user.phone | phone}}</div>
        <div class="col-sm-9"><b>DoB: </b>{{user.dob}}</div>
        <div class="col-sm-9"><b>Address: </b>{{user.streetAddress}} {{user.city}}, {{user.state}} {{user.zip}}</div>
        <div class="col-sm-9">
          <button id="editButton"
                  class="btn btn-primary"
                  (click)="openModal(user)">
            Edit
          </button>
        </div>
        <div class="col-sm-9">
          <button id="deleteButton"
                  type="button"
                  class="btn btn-danger"
                  (click)="openDeleteModal(user.userId)">
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="totalUsers"
                    [(page)]="pageNumber"
                    [pageSize]="pageSize"
                    [maxSize]="4"
                    [boundaryLinks]="true"
                    [rotate]="true"
                    (pageChange)="setPage($event)">
    </ngb-pagination>
</div>




