<div class="ds-1-row ds-u-margin-top--3">
  <div class="ds-1-col--9">
    <form [formGroup]="searchUsersForm">
      <input type="text" class="form-control" formControlName="searchString" (input)="searchUsersById()"/>
    </form>
  </div>
  <div class="ds-1-row ds-u-margin-top--3" id="searchByIdErrorMessage" style="display:none;color:red" >A user with this ID does not exist.</div>
</div>

<div class="ds-1-row ds-u-margin-top--3">
  <div class="ds-1-col--9">
    <ngb-pagination [collectionSize]="totalUsers"
                    [(page)]="pager.currentPage"
                    [maxSize]="10"
                    [boundaryLinks]="true"
                    (pageChange)="setPage($event)">
    </ngb-pagination>
  </div>
</div>

<div class="ds-1-row ds-u-margin-top--9">
  <table class="table">
    <thead>
      List of Users
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of pagedUsers; let i = index">
        <td>{{i + 1}}</td>
        <td>{{user.givenName}}</td>
        <td>{{user.familyName}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td> <button class="btn btn-primary" (click)="open(saveUserModal, user)" data-toggle="modal">Edit</button> </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #saveUserModal let-c="close" let-d="dismiss">

  <form [formGroup]="updateUserForm" (submit)="onUpdateUser()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit User Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Enter details to save.</p>
          <label for="givenName">First Name</label>
          <input type="text"
                 class="form-control"
                 formControlName="givenName" />
          <span *ngIf="updateUserFormControls.givenName.touched && updateUserFormControls.givenName.errors?.required" class="text-danger">
            <p>Please enter a valid name</p>
          </span>
          <span *ngIf="updateUserFormControls.givenName.errors?.maxlength" class="text-danger">
            <p>Please enter less than 45 characters</p>
          </span>

          <label for="familyName">Last Name</label>
          <input type="text"
                 class="form-control"
                 formControlName="familyName" />
          <span *ngIf="updateUserFormControls.familyName.touched && updateUserFormControls.familyName.errors?.required" class="text-danger">
            <p>Please enter a valid name</p>
          </span>
          <span *ngIf="updateUserFormControls.familyName.errors?.maxlength" class="text-danger">
            <p>Please enter less than 45 characters</p>
          </span>

          <label for="username">Username</label>
          <input type="text"
                 class="form-control"
                 formControlName="username" />
          <span *ngIf="updateUserFormControls.username.touched && updateUserFormControls.username.errors?.required" class="text-danger">
            <p>Please enter a valid username</p>
          </span>
          <span *ngIf="updateUserFormControls.username.errors?.maxlength" class="text-danger">
            <p>Please enter less than 45 characters</p>
          </span>

          <label for="email">Email</label>
          <input type="text"
                 class="form-control"
                 formControlName="email" />
          <span *ngIf="updateUserFormControls.email.touched && ( updateUserFormControls.email.errors?.required || updateUserFormControls.email.errors?.email)" class="text-danger">
            <p>Please enter a valid email</p>
          </span>
          <span *ngIf="updateUserFormControls.email.errors?.maxlength" class="text-danger">
            <p>Please enter less than 50 characters</p>
          </span>

          <label for="phone">Phone Number</label>
          <input type="text"
                 class="form-control"
                 formControlName="phone" />
          <span *ngIf="updateUserFormControls.phone.touched && updateUserFormControls.phone.errors?.required" class="text-danger">
            <p>Please enter a 10 digit number</p>
          </span>
          <span *ngIf="updateUserFormControls.phone.errors?.maxlength" class="text-danger">
            <p>Please enter a 10 digit number</p>
          </span>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </form>

</ng-template>

<ng-template #updateUserModal let-c="close" let-d="dismiss">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmployeeModalLabel">Edit User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">First Name</label>
            <input type="text" ngModel="{{editEmployee?.givenName}}" name="givenName" class="form-control" id="givenName" aria-describedby="emailHelp" placeholder="First Name">
          </div>
          <div class="form-group">
            <label for="email">Last Name</label>
            <input type="email" ngModel="{{editEmployee?.familyName}}" name="familyName" class="form-control" id="familyName" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="phone">Username</label>
            <input type="text" ngModel="{{editEmployee?.username}}" name="username" class="form-control" id="username" placeholder="Job title">
          </div>
          <div class="form-group">
            <label for="phone">email</label>
            <input type="text" ngModel="{{editEmployee?.email}}" name="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="phone"> Phone Number</label>
            <input type="text" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control" id="phone" placeholder="Image URL">
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button type="submit" (click)="onUpdateUser()" data-dismiss="modal" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>


</ng-template>
