<button class="btn btn-primary"
        id="upload-button"
        (click)="openModal(uploadModal)">
  Upload
</button>

<ng-template #uploadModal let-c="close" let-d="dismiss">
  <form [formGroup]="uploadForm" (submit)="onSubmitUpload()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload Flights as CSV</h5>

        </div>
        <div class="modal-body">
          <div>
            <input type="file" id="myFile" name="filename" formControlName="file" (change)="onFileChange($event)">
          </div>
          <span *ngIf="file && !uploadIsValid()" class="text-danger">
            <b>You can only upload .csv files.</b>
          </span>
        </div>
        <div class="modal-footer">
          <button id="modal-close-button" type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Cancel</button>
          <button id="modal-upload-button" type="submit" class="btn btn-primary" [disabled]="!uploadIsValid()">Upload</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
