<app-header></app-header>
<nav>
    <button routerLink="/home">Home</button>
    <button routerLink="/users">Users</button>
    <button routerLink="/airplanes">Airplanes</button>
    <button routerLink="/passengers">Passengers</button>
    <button routerLink="/bookings">Bookings</button>
    <button routerLink="/flights">Flights</button>
    <button routerLink="/routes">Routes</button>
    <button routerLink="/discounts">Discounts</button>
</nav>
<app-messages></app-messages>
<router-outlet></router-outlet>
