<tr>
    <th>Route Active</th>
    <th>Origin Aiport Active</th>
    <th>Origin Airport Code - City</th>
    <th>Destination Aiport Active</th>
    <th>Destination Airport Code - City</th>
</tr>
<tr>
    <td>{{ passenger.routeActive }}</td>
    <td>{{ passenger.originAirportActive }}</td>
    <td>
        {{ passenger.originAirportCode }} -
        {{ passenger.originAirportCity }}
    </td>
    <td>
        {{ passenger.destinationAirportActive }}
    </td>
    <td>
        {{ passenger.destinationAirportCode }} -
        {{ passenger.destinationAirportCity }}
    </td>
</tr>
