
   
    
<div class="container">
  <div class="row" style="border: 1px dotted gray">
    <div class="col-sm">
      <b>Route Active: </b>
      {{ passenger.routeActive }}
    </div>
    <div class="col-sm">
      <b>Origin Aiport Active: </b>
      {{ passenger.originAirportActive }}
    </div>
    <div class="col-sm">
      <b>Origin Airport: </b>
      {{ passenger.originAirportCode }} -
      {{ passenger.originAirportCity }}
    </div>
    <div class="col-sm">
      <b>Destination Aiport Active: </b>
      {{ passenger.destinationAirportActive }}
    </div>
    <div class="col-sm">
      <b>Destination Airport: </b>
      {{ passenger.destinationAirportCode }} -
      {{ passenger.destinationAirportCity }}
    </div>
  </div>
</div>
