<div class="modal-header">
    <h4 class="modal-title">Add Booking</h4>
    <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss('Times sign click')"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="addingForm">
        <label for="confirmation-code">Confirmation Code: </label>
        <input
            type="text"
            id="confirmation-code"
            formControlName="confirmationCode"
        />
        <label for="layover-count">Layover Count: </label>
        <input
            type="number"
            id="layover-count"
            formControlName="layoverCount"
        />
        <label for="total-price">Total Price: </label>
        <input
            type="number"
            id="total-price"
            formControlName="totalPrice"
        />
        <label for="active">Active: </label>
        <input
            type="checkbox"
            id="active"
            formControlName="active"
        />
    </form>
</div>

<div class="modal-footer">
    <button
        type="button"
        class="btn btn-light"
        (click)="activeModal.close('Close click')"
    >
        Cancel
    </button>
    <button type="button" class="btn btn-light" (click)="add()">Add</button>
</div>
