<div class="modal-header">
    <h4 class="modal-title">Add</h4>
    <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss('Times sign click')"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form [formGroup]="addingForm">
        <label for="booking-confirmation-code"
            >Booking Confirmation Code:
        </label>
        <input
            type="text"
            id="booking-confirmation-code"
            formControlName="bookingConfirmationCode"
        />
        <div>
            <label for="booking-active"><pre>Booking Active: </pre></label>
            <input
                type="checkbox"
                class=""
                id="booking-active"
                formControlName="bookingActive"
            />
        </div>
    </form>
</div>

<div class="modal-footer">
    <button
        type="button"
        class="btn btn-light"
        (click)="activeModal.close('Close click')"
    >
        Cancel
    </button>
    <button type="button" class="btn btn-light" (click)="add()">Add</button>
</div>
