<div id="search-component">
    <label for="search-box">Confirmation Code or Username</label>
    <input
        #searchBox
        id="search-box"
        autocomplete="off"
        (input)="search(searchBox.value)"
    />

    <!-- <ul class="suggestions">
        <li
            *ngFor="let passenger of passengers$ | async"
            (click)="onSuggestionClick(searchBox, passenger)"
        >
            Confirmation Code: {{ passenger.bookingConfirmationCode }} -
            Username: {{ passenger.username }}
        </li>
    </ul> -->
</div>
