<div class="container">
    <div class="row">
        <div class="col-12 my-2">
            <label for="search-box">Confirmation Code | Username</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input
                class="w-100 p-2 mb-3"
                #searchBox
                id="search-box"
                autocomplete="off"
                (input)="onInput(searchBox.value)"
            />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <select
                class="custom-select-sm w-auto"
                name="pageSize"
                [formControl]="pageSizeControl"
            >
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="25">25 items per page</option>
                <option [ngValue]="50">50 items per page</option>
            </select>
        </div>
        <div class="col-6">
            <button
                class="btn btn-primary float-right"
                id="create-new-button"
                type="button"
                (click)="openAddModal()"
            >
                New
            </button>
        </div>
    </div>
    <div
        class="row border border-dark p-1"
        *ngFor="let passenger of foundPassengers; index as i"
    >
        <div class="col-6 col-sm-2 p-1 text-center">
            <button
                type="button"
                class="btn btn-outline-dark p-1 m-1"
                (click)="toggleCollapsibleRow('bookingDetails', i)"
            >
                <b>Confirmation Code</b>
                <div>
                    <ngb-highlight
                        [result]="passenger.bookingConfirmationCode"
                        [term]="searchTerm"
                    ></ngb-highlight>
                </div>
            </button>
        </div>
        <div class="col-6 col-sm-2 p-1 text-center">
            <button
                type="button"
                class="btn btn-outline-dark p-1 m-1"
                (click)="toggleCollapsibleRow('flightDetails', i)"
            >
                <b>Flight Details</b>
                <div>
                    {{ passenger.departureTime | date: "shortDate" }}
                    to
                    {{ passenger.arrivalTime | date: "shortDate" }}
                </div>
            </button>
        </div>
        <div class="col-6 col-sm-2 p-2 text-center">
            <button
                class="btn btn-outline-dark"
                type="button"
                (click)="toggleCollapsibleRow('routeDetails', i)"
            >
                <b>Route</b>
                <div>
                    {{ passenger.originAirportCode }} to
                    {{ passenger.destinationAirportCode }}
                </div>
            </button>
        </div>
        <div class="col-6 col-sm-2 p-2 text-center">
            <button
                type="button"
                class="btn btn-outline-dark"
                (click)="toggleCollapsibleRow('ticketInfo', i)"
            >
                <b>Passenger</b>
                {{ passenger.familyName }},
                {{ passenger.givenName }}
            </button>
        </div>
        <div class="col-6 col-sm-2 p-2 text-center">
            <button
                type="button"
                class="btn btn-outline-dark"
                (click)="toggleCollapsibleRow('userInfo', i)"
            >
                <b>User</b>
                <div>
                    <ngb-highlight
                        [result]="passenger.username"
                        [term]="searchTerm"
                    ></ngb-highlight>
                </div>
            </button>
        </div>
        <div class="col-6 d-sm-none"></div>
        <div class="col-6 col-sm-1 p-1 mt-1 text-center">
            <button class="btn btn-primary" (click)="openEditModal(passenger)">
                Edit
            </button>
        </div>
        <div class="col-6 col-sm-1 p-1 mt-1 text-center">
            <button class="btn btn-danger" (click)="openDeleteModal(passenger)">
                Delete
            </button>
        </div>
        <div
            class="col-12"
            *ngIf="
                selectedTable === 'bookingDetails' &&
                passengerIndex === i &&
                rowExpanded
            "
        >
            <app-booking-collapsible-row
                [passenger]="passenger"
            ></app-booking-collapsible-row>
        </div>
        <div
            class="col-12"
            *ngIf="
                selectedTable === 'flightDetails' &&
                passengerIndex === i &&
                rowExpanded
            "
        >
            <app-flight-collapsible-row
                [passenger]="passenger"
            ></app-flight-collapsible-row>
        </div>
        <div
            class="col-12"
            *ngIf="
                selectedTable === 'routeDetails' &&
                passengerIndex === i &&
                rowExpanded
            "
        >
            <app-route-collapsible-row
                [passenger]="passenger"
            ></app-route-collapsible-row>
        </div>
        <div
            class="col-12"
            *ngIf="
                selectedTable === 'ticketInfo' &&
                passengerIndex === i &&
                rowExpanded
            "
        >
            <app-ticket-collapsible-row
                [passenger]="passenger"
            ></app-ticket-collapsible-row>
        </div>
        <div
            class="col-12"
            *ngIf="
                selectedTable === 'userInfo' &&
                passengerIndex === i &&
                rowExpanded
            "
        >
            <app-user-collapsible-row
                [passenger]="passenger"
            ></app-user-collapsible-row>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center py-3">
    <ngb-pagination
        [collectionSize]="totalElements"
        [pageSize]="pageSizeControl.value"
        [page]="pageNumber"
        [maxSize]="5"
        (pageChange)="onPageChange($event)"
    ></ngb-pagination>
</div>
