@import "~ng-pick-datetime/assets/style/picker.min.css";

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #264d73;
    font-size: 2.5rem;
}
h2,
h3 {
    color: #444;
    font-weight: lighter;
}

h3 {
    font-size: 1.3rem;
}

body {
    padding: 0.5rem;
    max-width: 1000px;
    margin: auto;
}

@media (min-width: 600px) {
    body {
        padding: 2rem;
    }
}
body,
input[text] {
    color: #333;
    font-family: Cambria, Georgia, serif;
}
a {
    cursor: pointer;
}
button {
    background-color: #eee;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
button:hover {
    background-color: black;
    color: white;
}
button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* Navigation link styles */
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
}

nav a:hover {
    color: white;
    background-color: #42545c;
}
nav a.active {
    background-color: black;
    color: white;
}
hr {
    margin: 1.5rem 0;
}
input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
}

.ngb-highlight {
    background-color: yellow;
}

.popover {
    max-width: none;
}

button.calendar,
button.calendar:active {
    width: 2.75rem;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=") !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container, .cdk-overlay-pane {
  position: fixed !important;
  z-index: 99999 !important;
}

.owl-dateTime-dialog { width: auto !important; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
