.flights {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  
  input {
    display: block;
    /* width: 25%; */
    padding: .5rem;
    margin: 1rem 0;
    box-sizing: border-box;
  }


  .flight-search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .flight-search-form input, .flight-search-form button {
    height: 25%;
    display: inline-block;
    margin: .5em .5em .5em .5em;
  }

  .flight-search-form input {
    width: 25%;
  }

  .flight-search-form button {
    width: 20%;
  }
  
  .flights li {
    position: relative;
    cursor: pointer;
  }
  
  .flights li:hover {
    left: .1em;
  }
  
  .flights a {
    color: #333;
    text-decoration: none;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    display: block;
    width: 100%;
  }
  
  .flights a:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
  }
  
  .flights a:active {
    background-color: #525252;
    color: #fafafa;
  }
  
  .flights .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    min-width: 16px;
    text-align: right;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  .add-button {
   padding: .5rem 1.5rem;
   font-size: 1rem;
   margin-bottom: 2rem;
  }
  
  .add-button:hover {
    color: white;
    background-color: #42545C;
  }
  
  button.delete {
    position: absolute;
    left: 210px;
    top: 5px;
    background-color: white;
    color:  #525252;
    font-size: 1.1rem;
    padding: 1px 10px 3px 10px;
  }
  
  button.delete:hover {
    background-color: #525252;
    color: white;
  }

 .create-new-button{
    float: right;
    text-align: center;
    width: 300px;
    padding: 10px;
  }

  #pagination-top {
    margin: auto;
    width: 15%;
    padding: 10px;
  }